/* .products {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 330px;
  display: grid;
  grid-template-columns: repeat(1, 300px);

  grid-gap: 15px;
}

@media screen and (min-width: 768px) {
  .products {
    width: 620px;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    width: 930px;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 15px;
  }
} */

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
  background-color: #212121;
}

.descr,
.model {
  margin: 0;
}

/* .image {
  display: block;
  width: 100%;
  height: 430px;
} */

.descr {
  padding: 10px;
  color: bisque;
}

.btn-bye {
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  background-color: burlywood;
  color: rgb(58, 44, 44);
  border-radius: 3px;
}

.btn-bye:active {
  transform: scale(0.95);
}
