.header {
  background-color: rgba(4, 57, 114, 0.8);
  padding: 15px 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  /* background-color: #fff; */
}

.user-info,
.cart-info {
  display: flex;
  align-items: center;
}

.user-name {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  background-color: #fff;
  border-radius: 50%;
}

.user-email {
  font-size: 28px;
  color: bisque;
}

.btn-cart {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-descr {
  font-size: 28px;
}
