.users {
  list-style: none;
  width: 600px;
}

.users__item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.user__descr {
  font-family: sans-serif;
  font-size: 22px;
}

.users__item:not(:last-child) {
  border-bottom: 1px solid #000;
}

.users__btn--remove {
  font-size: 18px;
  height: 40px;
}
